/*https://noeldelgado.github.io/shadowlord/#8205aa*/

body{
    height: 100vh;
    width: 100vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    gap: 16px;
    padding-top: 20px;
}

.container-signin {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px dashed #a850c4;
    width: 60vw;
    height: 70vh;
    background-color: #340244;
}

.container-image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 55%;    
}

img {
    width: 100px;
}

.container-navigation {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
}
.container-navigation-bar {
 display: flex;
 flex-direction: row;
 align-items: flex-end;
 background-color: red;
 justify-content: space-evenly;
 width: 100%;
 height: 100px;
}

.navigation {
    display: flex;
    background-color: tan;
    padding: 20px;
    color: black;
}

.individual-question {
    display: flex;
    background-color: lightgray;
    border: 2px solid black;
    width: 33vw;
    height: 18vh;
    align-items: center;
    justify-content: space-around;
}

.option-one {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.option-two {
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 111, 208);
}

.container-links {
    display: flex;
    height: 48px;
}

.container-logout{
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    gap: 25px;
    margin-bottom: 10px;
}

.container-logout-profile{
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    gap: 12px;
}

.logout-button{
    display: flex;
    height: 36px;
    width: 100px;
}

.logout-img{
    width: 48px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 80vw;
    background-color: #8205aa;
}

li {
    list-style: none;
}

.nav-left{
    display: flex;
    width: 25vw;
    justify-content: space-between;
    font-size: 26px;
    margin-left: 20px;
}

.container-question{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: #a850c4;
    height: 100%;
    width: 60%;
}

.container-image-name{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 100%;
    background-color: #680488;
    color: #dab4e6;
    -webkit-text-stroke: 1px #cd9bdd;
    font-size: 32px;
}

.question-options{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 100%;
}

.link {
    text-decoration: none;
    background-color: #340244;
    color: #dab4e6;
    -webkit-text-stroke: .5px #680488;
}

.container-add-question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #680488;
    padding: 10px 10px;
}

.link-add{
    text-decoration: none;
    background-color: #340244;
    color: #dab4e6;
    font-size: 36px;
    -webkit-text-stroke: .5px #680488;
}

.form-sign-in select{
    width: 100px;
    height: 33px;
}

.button-sign-in{
    width: 100px;
    height: 33px;
    font-size: 1.5rem;
    background-color: #a850c4;
    color: #dab4e6;
}

.container-select-submit{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background-color: aqua;
}

.container-leaderboard {
    gap: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
}